@import "tailwindcss";

@theme {
  --color-bg: #f4f6fb;
  --color-card: #ffffff;
  --color-text: #0f172a;     /* navy gelap */
  --color-muted: #64748b;
  --color-primary: #0b1c2d;  /* navy bold */
  --color-primary-glow: #132c45;
  --color-danger: #dc2626;
}

html, body {
  height: 100%;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}
